@import "fonts/style.css";
@import url(http://fonts.googleapis.com/css?family=Anton);
body {
   margin:0;
}	


a { color: #333; }

.asterisco { transition: all 0.5s ease; }

a:hover .asterisco { transform: rotate(360deg); }

.texto { transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); }

.texto:houver { transform: scale(1.2); }



#recipiente{
	width: 1150px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #D3D3D3;
	position: relative;
	height: 100%;
}

#cabecalho{
	background-image:linear-gradient(to bottom, #FFFAF0, #FA8072);
	height: 250px;
	text-align: center;
}

#cabecalho img{
	padding-top: 80px;
}

#foto{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 250px;
	width: 450px;
}

#foto img{
	padding-top: 30px;
	padding-left: 115px;
}
		
#conteudo{
	position: relative;
}

#conteudo p{
	padding-top: 50px;
	padding-left: 170px;
	width: 800px;
	font-size: 18px;
}

#menu{
	padding-left: 220px;
	height: 60px;
	margin: 0px;
	border: 3px solid #FA8072;
	background: #FA8072;
}

ul li {
    float: left;
    list-style: none;
    margin-right: 1em;
	font-family : 'Kulminoituva';
    font-size : 30px ;
     padding: 12px ;	
}
 
li a {
    color: #544738;
    text-decoration: none;
    float: left;
  }
 
li a:hover {
	color: #7eb9be;
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}

.left a:hover {
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(-10deg) scale(1.2);
    -moz-transform: rotate(-10deg) scale(1.2);
    -o-transform: rotate(-10deg) scale(1.2);
}
 
.right a:hover {
 
    /*Transition*/
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
     
    /*Transform*/
    -webkit-transform: rotate(10deg) scale(1.2);
    -moz-transform: rotate(10deg) scale(1.2);
    -o-transform: rotate(10deg) scale(1.2);
}




