#home{
	background: url('img/fundo.jpg') repeat;
    background-size: cover;    
}

#transbox {
    margin: 150px;
    background-color: #ffffff;
	box-sizing:border-box;
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
	padding-bottom: 30px;
	border: 1px solid #ff56fb;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
	text-align: center;
}



#cabecalho{
	background: red;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
#cabecalho h1{
	font-family: 'Satisfy', cursive;
}

#cabecalho  h2{
	font-family: 'Indie Flower', cursive;
	padding-left: 50px;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	display: inline;
}

#menu ul li a  {
	text-indent: -9999px;
	display: block;
	height: 98px;
	float: left;
	margin-left: 80px;
}

#menu ul li a.Inicio{
	background: url(img/menu00.png) no-repeat bottom center;
	width: 214px;
}

#menu ul li a.Projeto {
	background: url(img/menu01.png) no-repeat bottom center;
	width: 254px;
}

#menu ul li a.Curriculum {
	background: url(img/menu02.png) no-repeat bottom center;
	width: 254px;
}

#menu ul li a.Contato {
	background: url(img/menu03.png) no-repeat bottom center;
	width: 185px;
}
			
#menu ul li a.Inicio:hover{
	background: url(img/menu00m.png) no-repeat bottom center;
	width: 214px;
}

#menu ul li a.Projeto:hover{
	background: url(img/menu01m.png) no-repeat bottom center;
	width: 254px;
}

#menu ul li a.Curriculum:hover{
	background: url(img/menu02m.png) no-repeat bottom center;
	width: 254px;
}

#menu ul li a.Contato:hover{
	background: url(img/menu03m.png) no-repeat bottom center;
	width: 185px;
}
		
		